.ReactModal__Content {
 @apply static #{!important};
}

.ReactModal__Overlay {
    @apply flex w-full justify-center z-20 items-center #{!important};
}

.Carbon-ShareContact-QrCodeVector{
    // background-image: url(/Carbon/qrCode.svg);
    @apply w-28 h-28  mt-5 mb-6;
}
.Carbon-ShareContact-VectorMainSection {
    @apply w-6 h-6 p-1 flex justify-center items-center rounded-full cursor-pointer borderBox-Gray ;
}
.Carbon-ShareContact-VectorSection {
    @apply w-14 h-14;
}

.Carbon-ShareContact-MainVectors{
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-4 h-4 bg-primary-color; 
}
.Carbon-ShareContact-Vectors{
    @apply w-10 h-10; 
}
.Carbon-ShareContact-Container {
    @apply flex w-full justify-between items-center;
}
.Carbon-ShareContact-Title {
    @apply text-gray-700 text-base font-semibold;
}
.Carbon-ShareContact-Body {
    @apply my-4 w-full flex flex-col items-center;
}
.Carbon-ShareContact-Cards {
    @apply flex flex-col items-center gap-[14px] min-w-[245px];
}
.Carbon-ShareContact-CardItems {
  @apply borderBox-Gray boxShadow-Gray flex flex-row gap-2 items-center justify-start text-gray-700 bg-gray-100 leading-[21px]  text-[14px] font-[400]    focus:outline-none w-full h-[44px]   rounded-[27px]  placeholder:leading-[27.25px] px-[16px] placeholder:text-[13px]  placeholder:font-[300]   pb-[12px] pt-[10px]  placeholder:text-gray-400 cursor-pointer pl-8;
}
.Carbon-ShareContact-CardItems-active {
  @apply boxShadow-purple flex flex-row gap-2 items-center justify-start text-white bg-primary-color leading-[21px]  text-[14px] font-[400]    focus:outline-none w-full h-[44px]   rounded-[27px]  placeholder:leading-[27.25px] px-[16px] placeholder:text-[13px]  placeholder:font-[300]   pb-[12px] pt-[10px]  placeholder:text-gray-400 cursor-pointer pl-8;
}
.Carbon-ShareContact-SmsVector {
    mask-image: url(/Carbon/message.svg);
}
.Carbon-ShareContact-ImportVector {
    mask-image: url(/Carbon/import.svg);
}
.Carbon-ShareContact-CopyVector {
    mask-image: url(/Carbon/copy.svg);
}
.Carbon-ShareContact-LinkVector {
    mask-image: url(/Carbon/link.svg);
}
.Carbon-ShareContact-EmailVector {
    mask-image: url(/Carbon/emailshare.svg);
}