.Carbon-ImageUploader-container{    
    @apply  w-full  max-h-[300px] mt-2 border relative px-[21px] rounded-[8px] py-[18px]
}
.Carbon-ImageUploader-title{
    @apply text-[20px] font-semibold text-center text-gray-700
}
.Carbon-ImageUploader-icon{
    @apply w-[31px] h-[27px] mt-2 bg-gray-700 justify-self-center mb-2;
     mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url('./src/assets/Acord/Uploadicon.svg');
}
.Carbon-ImageUploader-uploadBox-fileExist {
    // @apply h-[202px] #{!important};
}

.Carbon-ImageUploader-uploadBox-container{
    @apply mb-[12px] relative mt-2 rounded-[5px] cursor-pointer px-0  w-auto max-w-[555px] min-h-[90px]
}
.Carbon-ImageUploader-uploadBox-loading{
    @apply w-full flex justify-center h-full items-center
}
.Carbon-ImageUploader-uploadBox-box{

    @apply w-full cursor-pointer relative h-full bg-gray-50 border-dashed rounded-[4px]  border border-slate-300
}
.Carbon-ImageUploader-uploadBox-file{
    box-shadow: inset -4px -4px 9px 0px rgba(255 ,255 ,255,0.6) ,inset 1px 1px 8px 0px rgba(14 ,160 ,11, 0.2);
    @apply w-full mt-[6px] mb-[6px] flex justify-between px-[12px] items-center h-[36px] rounded-[8px] border border-green-600
}
.Carbon-ImageUploader-uploadBox-button-container{
    @apply relative bottom-2 w-[-webkit-fill-available]
}

.Carbon-ImageUploader-uploadBox-trashIcon{
     mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-image: url('./icons/Trash.svg');    
    @apply w-4 h-4 flex justify-center items-center cursor-pointer opacity-100 bg-[#5A6571] rounded-full
}

.Carbon-ImageUploader-itemList-title{
    @apply text-[10px] text-gray-700
}
.Carbon-ImageUploader-itemList-items{
    @apply overflow-auto mt-[6px] h-full max-h-[109px]
}

.Carbon-ImageUploader-itemList-titleBox{
    @apply text-[#676767] text-sm mt-5
}

.Carbon-ImageUploader-uploader-input{
    @apply opacity-0 w-full h-full absolute top-0
}

.Carbon-ImageUploader-uploader-suportText{
    @apply text-[#7B93AF] text-center text-[10px] mb-3
}

.Carbon-ImageUploader-uploader-suportText-container{
    @apply flex justify-center items-center mt-2 
}
.Carbon-ImageUploader-label{
    @apply leading-[19.36px] w-full  text-left text-[13px]  font-medium text-gray-700;
}