.Carbon-Profile-Container {
    @apply w-full h-svh relative flex justify-center text-gray-700 text-center;
}
.Carbon-Profile-ProfileSection {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    @apply relative overflow-auto w-full;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.Carbon-Profile-ProfileSection::-webkit-scrollbar{
    display: block;
}
.Carbon-Profile-Background{
    // background-image: url(/Carbon/BackgroundProfileImage.png) ;
    margin: 0 ;
    @apply absolute borderBox-Gray boxShadow-Gray bg-cover bg-no-repeat -top-[26px] w-full h-[218px];
}
.Carbon-Profile-Content {
    @apply relative flex flex-col gap-4 justify-center items-center mt-11 px-4 pb-20;
}
.Carbon-Profile-ProfilePictureSection {
    @apply w-40 h-40 rounded-full relative borderBox-Gray boxShadow-Gray  ;
}
.Carbon-Profile-ProfilePicture {
    @apply w-full h-full bg-stone-200 bg-cover bg-no-repeat bg-center inset-0 rounded-full border;
    // background-image: url(/Carbon/profileImage.png);
}
.Carbon-Profile-GalleryVectorContainer {
    @apply absolute w-10 h-10 cursor-pointer right-32 top-24  flex justify-center items-center ;
}
.Carbon-Profile-GalleryVector{
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-primary-color;
}
.Carbon-Profile-EditGalleryVector{
    mask-image: url(/Carbon/editGallery.svg);
}
.Carbon-Profile-ImportGalleryVector{
    mask-image: url(/Carbon/importGallery.svg);
}
.Carbon-Profile-ScanBarcodeVector{
    mask-image: url(/Carbon/scanBarcode.svg);
}
.Carbon-Profile-GalleryImport {
    @apply left-52 top-16;
}
.Carbon-Profile-ScanBarcode{
    @apply absolute w-10 h-10 flex justify-center items-center right-7 ;
}
.Carbon-Profile-ProfileName {
    @apply text-gray-700 text-lg font-semibold;
}
.Carbon-Profile-SubTitle {
    @apply text-gray-700 text-sm;
}
.Carbon-Profile-PreviewProfileBtnVector{
    background: url(/Carbon/eyeVector.svg);
    @apply w-6 h-6 mr-2 bg-cover bg-no-repeat;  
}
.Carbon-Profile-EditProfileBtnVector{
    background-image: url(/Carbon/editProfile.svg);
    @apply w-6 h-6 mr-2 bg-cover bg-no-repeat;
}
.Carbon-Profile-BtnContainer{
    @apply flex;  
}
.Carbon-Profile-InstagramVector{
    background: url(/Carbon/instagram.png) no-repeat;
    background-size: cover;
}
.Carbon-Profile-LinkedinVector{
    background: url(/Carbon/linkedin.png) no-repeat;
    background-size: cover;
}
.Carbon-Profile-faceBookVector{
    background: url(/Carbon/faceBook.svg) no-repeat;
    background-size: cover;
}
.Carbon-Profile-tweeterVector{
    background: url(/Carbon/x-tweeter.svg) no-repeat;
    background-size: contain;
    background-position: center;
}
.Carbon-Profile-youtubeVector{
    background: url(/Carbon/youtube.svg) no-repeat;
    background-size: contain;
    background-position: center;
}
.Carbon-Profile-Vectors{
    @apply flex flex-row flex-wrap gap-4;
}
.Carbon-Profile-BackgroundVectors{
    @apply bg-gray-100 w-16 h-16 flex justify-center borderBox-Gray boxShadow-Gray  items-center rounded-full p-2 ; 
}

.Carbon-Profile-closeIcon{
    background: url(/Carbon/Add.svg);    
    @apply w-6 h-6 bg-cover bg-no-repeat;  
}
.Carbon-Profile-StartPresentionBtnVector{
    background-image: url(/Carbon/play-circle.svg);
    @apply w-6 h-6 mr-2 bg-cover bg-no-repeat;
}
.Carbon-Profile-CalenderBtnVector{
    background-image: url(/Carbon/calendar-2.svg);
    @apply w-6 h-6  bg-cover bg-no-repeat;
}