.Carbon-ContactDetails-VectorSection {
  @apply w-10 h-10 p-2 rounded-full cursor-pointer btnInnerShadowsDark;
}
.Carbon-ContactDetails-infoContainer {
  @apply flex items-center w-full space-x-4 absolute px-6 top-8;
}
.Carbon-ContactDetails-container2 {
  @apply hiddenScrollBar h-dvh overflow-y-scroll pb-[160px] flex flex-col   items-center mt-[60px];
}
.Carbon-ContactDetails-container3 {
  @apply flex items-center space-x-4 mb-[8px] -mr-9;
}
.Carbon-ContactDetails-contactImageContainer {
  @apply borderBox-Gray boxShadow-Gray rounded-full;
}
.Carbon-ContactDetails-importIconContainer {
  @apply flex flex-col items-center space-y-[9px];
}
.Carbon-ContactDetails-showExibitionconContainer {
  @apply flex items-center justify-between mb-[20px];
}
.Carbon-ContactDetails-exibitionconContainer {
  @apply flex items-center justify-center w-[108px] space-x-[2px] h-8 rounded-[47px] bg-amber-400;
}
.Carbon-ContactDetails-exibition {
  @apply text-gray-700 leading-[20px] text-[14px] font-[500] tracking-tight;
}
.Carbon-ContactDetails-container4 {
  @apply flex flex-col space-y-3;
}
.Carbon-ContactDetails-container5 {
  @apply flex items-center space-x-2;
}
.Carbon-ContactDetails-Vectors {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-7 h-7 bg-slate-400;
}
.Carbon-ContactDetails-phoneIcon {
  mask-image: url(/Carbon/call.svg);
}
.Carbon-ContactDetails-emailIcon {
  mask-image: url(/Carbon/emailVector.svg);
}
.Carbon-ContactDetails-locationIcon {
  mask-image: url(/Carbon/location.svg);
}
.Carbon-ContactDetails-buildingIcon {
  mask-image: url(/Carbon/buliding.svg);
}
.Carbon-ContactDetails-meetingIcon {
  mask-image: url(/Carbon/meet.svg);
}
.Carbon-ContactDetails-calendarIcon {
  mask-image: url(/Carbon/calendar.svg);
}
.Carbon-ContactDetails-crossIcon {
  mask-image: url(/Carbon/Add.svg);
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-4 h-4 bg-slate-400 cursor-pointer;
}
.Carbon-ContactDetails-importIcon {
  mask-image: url(/Carbon/import.svg);
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-5 h-5 cursor-pointer bg-primary-color;
}
.Carbon-ContactDetails-editIcon {
  mask-image: url(/Carbon/edit.svg);
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-5 h-5 cursor-pointer bg-primary-color;
}
.Carbon-ContactDetails-recycleIcon {
  mask-image: url(/Carbon/recycle.svg);
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-5 h-5 cursor-pointer bg-primary-color;
}
.Carbon-ContactDetails-ActiveVectorSection {
  @apply flex justify-center items-center;
}
.Carbon-ContactDetails-ActiveVectors {
  @apply bg-primary-color;
}

.Carbon-ContactDetails-textItem {
  @apply text-gray-700 leading-[21px] text-[14px] font-[500];
}
.Carbon-ContactDetails-nameItem {
  @apply text-gray-700 tracking-wider mb-[2px] leading-[20px] text-[18px] font-[500];
}
.Carbon-ContactDetails-jobItem {
  @apply text-gray-700/80 tracking-wider mb-[20px] leading-[20px] text-[14px] font-[400];
}
