.Carbon-ContactItem-container {
  @apply my-5 h-[88px] borderBox-Gray boxShadow-Gray  flex items-center w-full relative  rounded-[24px]  px-4;
}
.Carbon-ContactItem-section {
  @apply flex w-full   items-center pt-4;
}
.Carbon-ContactItem-exchange {
  @apply absolute top-0 left-4 bg-primary-color text-[white] leading-[20px] text-[10px] font-[400]  py-[1px] px-[8px] rounded-[4px];
}
.Carbon-ContactItem-card {
  @apply w-full pl-3 ;
}
.Carbon-ContactItem-innerCard {
  @apply flex items-center  w-full justify-between;
}
.Carbon-ContactItem-name {
  @apply leading-[21px] text-[14px] font-[500]  text-gray-700;
}
.Carbon-ContactItem-iconContainer {
  @apply flex items-center  space-x-6;
}
.Carbon-ContactItem-exhibition {
  @apply flex justify-center items-center text-gray-700 leading-[20px] text-[12px] font-[400] bg-amber-400 border w-[85px] h-[24px] rounded-[47px];
}
.Carbon-ContactItem-vectorIcon {
  @apply bg-[url('../../../Vector.svg')] w-[10px] h-[15px];
}
.Carbon-ContactItem-email {
  @apply text-gray-700/80  leading-[21px] text-[14px] font-[400];
}
.Carbon-ContactItem-Vector {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url(/Vector.svg);
  @apply w-[10px] h-[24px] bg-slate-400;    
}